/*
    color scheme: 
        dodgerblue
        #171719
        #ffcf00
        #cfcfd1
*/

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
        scroll-behavior: smooth;
}

body {
    color: #cfcfd1;
    font-family: sans-serif;
    background: #ebedec;
}

 img {
    width: 100%;
    height: auto;
}

#call-to-action {
    background: #171719c0;
    width: 76vw;
    max-width: 1000px;
    padding: 4rem 0;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: min(calc(76vw / 10), calc(840px/10));
}

#title {
    color: #ffcf00;
    font-family: mono;
    line-height: 150%;
    letter-spacing: 1ch;
    margin-bottom: 1em;
    padding-left: 2ch;
    font-size: 1.3em;
}

nav {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem 0.3em;
    font-size: max(0.4em, 1rem);
}

nav a {
    color: #cfcfd1;
    /* text-decoration: underline; */
    transition: color 200ms ease;
}

nav a:hover {
    color: dodgerblue;
}

#Experience, #Contact {
    position: relative;
    padding: 1.5rem 0;
}

.card {
    font-size: min(calc(76vw / 10), calc(840px/15));
    height: 60vw;
    overflow-y: auto;
    background: #171719c0;
    width: 76vw;
    max-width: 1000px;
    padding: 4rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header {
    font-family: mono;
    line-height: 150%;
    color: #ffcf00;
    letter-spacing: 1ch;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
}

.card p {
    letter-spacing: 0.5ch;
    line-height: 150%;
    font-size: 0.33em;
}

