/*
    color scheme: 
        dodgerblue
        #171719
        #ffcf00
        #cfcfd1
*/

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #cfcfd1;
    font-family: sans-serif;
    background: #ebedec;
}

img {
    max-width: 100vw;
}

section {
    margin-bottom: 2rem;
}

#Hero {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#Hero img {
    width: 100%;
    height: auto;
    filter: blur(15px);
    animation: 600ms ease-out 1s 1 forwards image-fade-in;
}

@keyframes image-fade-in {
    from {
        filter: blur(15px);
    }
    
    to {
        filter: blur(0);
    }
}

#Hero img:hover {
    filter: blur(0);
}

#call-to-action {
    background: #27272990;
    width: 70vw;
    max-width: 1000px;
    max-height: 85vh;
    padding: 2rem 0;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: min(calc(76vw / 10), calc(840px/10));
}

#title {
    color: #ffcf00;
    font-family: mono;
    line-height: 150%;
    letter-spacing: 1ch;
    margin-bottom: 1em;
    padding-left: 2ch;
    font-size: 1.3em;
}

nav {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1.5rem 0.9em;
    font-size: max(0.33em, 1rem);
}

nav a {
    letter-spacing: 0;
    color: white;
    text-decoration: none;
    transition: color 200ms ease;
}

nav a:hover {
    color: dodgerblue;
}

#Experience > div {
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #ffcf0090;
}

.card {
    font-size: min(calc(76vw / 10), calc(840px/15));
    height: 85vh;
    overflow-y: auto;
    background: #27272990;
    width: 60vw;
    max-width: 1000px;
    padding: 4rem;
}

.card-header {
    font-family: mono;
    line-height: 150%;
    color: #ffcf00;
    letter-spacing: 0.8ch;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 0.7em;
}

.card p {
    letter-spacing: 0.5ch;
    line-height: 150%;
    font-size: 0.33em;
}

